body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
}

h1 {
  text-align: center;
}

section {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
}

button {
  padding: 0.5rem;
  width: 100%;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.4rem;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border-radius: 6px;
}

.doable {
  background: #14532d;
}

.later {
  background: #7c2d12;
}

